doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Face Evaluation Results
  body
    p This is the interview result for video number #{v_no}.
    h1 Face Evaluation Results
    #results-container
      - if (data && data.result)
        ul
          each emotion, value in data.result
            li
            | #{emotion}: #{value}%

    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script.
        //v_no 받아옴
        const v_no = #{v_no};

        async function fetchFaceEvaluationResults() {
            try {
                const response = await axios.get(`http://localhost:3001/getfaceresult/${v_no}`);
                const data = response.data;
                console.log(data.result.sad);
                document.getElementById('results-container').innerHTML = data.result.sad;
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        window.addEventListener('load', fetchFaceEvaluationResults);
